Input
{
	background:url("/image/bginput.png") repeat-x;
	border-style:solid;
	border-width:1px;
	border-color:#c2c2c2;
	color:Black;


	}

select
{
/*		border-style:solid;
	border-width:2px;
	border-color:#3b8ac2;
*/

background:url("/image/bginput.png") repeat-x;
border-style:solid;
	border-width:1px;
	border-color:#c2c2c2;
	color:Black;
	
}

.nbutton
{
	Color:White;
	background-color:Green;
	
	
	
	}
.item
{
	border-style:dotted;
	border-width:1px;
	margin: 5px;
	padding: 0;
	color:Black;
	font-size: 18px;
	
	}


#GroupBox
{
	border-style:dotted;
	border-width:thick;



	
	
	}
	* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	padding: 0 0 0;
	background:#fff; 
	
	 /*url("/image/bg.png") repeat-x;*/

}
#page {
	width: 100%;
	margin: 0 auto;

	
	
}
a {
	color: #00431e;
	text-decoration: none;
	font-size: 1em;
}
a:hover {
	text-decoration: underline;
	color: rgb(0,51,255);
}

.title 
{
	text-align:justify;
	text-indent: 3px;
	
	font: 17px Georgia, "Times New Roman", Times, serif;
	border-left: #48b479 dotted 1px;
	border-right: #48b479 dotted 1px;
	border-top: #48b479 dotted 1px;
	border-bottom: #48b479 dotted 1px;
	margin-top: 9px;
	margin-bottom: 9px;
	color: Black;
	background:url("/image/bgtext.png") repeat;
	padding:15px;

	
	
}

.title a
{
	color:Blue;
	
	}
	
	.title i
{
	color:#336699;
	
	}

.titlemnu {
	font: 17px Georgia, "Times New Roman", Times, serif;
	border-left: #48b479 dotted 1px;
	border-right: #48b479 dotted 1px;
	border-top: #48b479 dotted 1px;
	border-bottom: #48b479 dotted 1px;
	margin-top: 9px;
	margin-bottom: 9px;
	color: Black;
	background-color:Fuchsia;
	background: transparent url('ul.png') no-repeat  left center;
}


#header {
	background: url("/image/head.png") no-repeat right;

	width: 95%;
	height: 80px;
	margin-left: 20px;
	margin-right: 20px;

}
#mnu {
	background: url("kv.png");
	border-top: #a3a4a4 solid 2px;
	border-right: #48b479 dotted 1px;
	border-bottom: #48b479 dotted 1px;
	width: 152px;
	height: 710px;
	font:  12px/1 Arial;
	color: #333;
	float: left;
}
#lm 
{
	display:block;



	width: 95%;

	font:  12px/1 Arial;
	font-weight:bold;

	
	
	color: Blue;
	float:left;
	margin-left: 20px;
}

#lm Input
{
	background-color:White;
	
	}

#lm select
{
	
}



#bs {
	background: #cbdceb;
	width: 124px;
	color: #333;
	padding-left: 28px;
}

#menu
{
	display:block;



	width: 95%;

	font:  12px/1 Arial;
	font-weight:bold;

	
	
	color: Blue;
	float:left;
	margin-left: 20px;
		border-left: #48b479 solid 0px;
	border-right: #48b479 solid 0px;
	border-top: #a3a4a4 solid 0px;
	border-bottom: #72c259 solid 3px;
		

}
#menu a {
	display: block;
	width: 140px;
	height: 21px;
	padding-left:10px;
	padding-top:5px;
	margin-left:5px;
	margin-top:5px;
	
	font-weight:bold;
	
	
	
	background: url("/image/button.png")  0 0 no-repeat;
	margin: 0px 0;
	font:  12px/1 Arial;
	color:White;
	text-decoration: none;
	float:left;
	border:2px Green;
	
}
#menu a:hover {
	background-position: 0 -27px;
	font:  12px/1 Arial;
	font-weight:bold;

	
	
}

#menuuser
{
	display:block;



	width: 95%;

	font:  12px/1 Arial;
	font-weight:bold;

	
	
	color: Blue;
	float:left;
	margin-left: 20px;
		border-left: #48b479 solid 0px;
	border-right: #48b479 solid 0px;
	border-top: #629dd4 solid 3px;
	border-bottom: #72c259 solid 0px;
		

}

#menuuser a {
	display: block;
	width: 140px;
	height: 21px;
	padding-left:10px;
	padding-top:5px;
	margin-left:5px;
	margin-top:5px;
	
	font-weight:bold;
	
	
	
	background: url("/image/buttonuser.png")  0 0 no-repeat;
	margin: 0px 0;
	font:  12px/1 Arial;
	color:White;
	text-decoration: none;
	float:left;
	border:2px Green;
	
}

#menuuser a:hover {
	background-position: 0 -27px;
	font:  12px/1 Arial;
	font-weight:bold;

	
	
}

#menupersonal
{
	display:block;



	width: 95%;

	font:  12px/1 Arial;
	font-weight:bold;

	
	
	color: Blue;
	float:left;
	margin-left: 20px;
		border-left: #48b479 solid 0px;
	border-right: #48b479 solid 0px;
	border-top: #d2db70 solid 3px;
	border-bottom: #72c259 solid 0px;
		

}

#menupersonal a {
	display: block;
	width: 140px;
	height: 21px;
	padding-left:10px;
	padding-top:5px;
	margin-left:5px;
	margin-top:5px;
	
	font-weight:bold;
	
	
	
	background: url("/image/buttonpersonal.png")  0 0 no-repeat;
	margin: 0px 0;
	font:  12px/1 Arial;
	color:White;
	text-decoration: none;
	float:left;
	border:2px Green;
	
}

#menupersonal a:hover {
	background-position: 0 -27px;
	font:  12px/1 Arial;
	font-weight:bold;

	
	
}

#menuadm
{
	display:block;



	width: 95%;

	font:  12px/1 Arial;
	font-weight:bold;

	
	
	color: Blue;
	float:left;
	margin-left: 20px;
		border-left: #48b479 solid 0px;
	border-right: #48b479 solid 0px;
	border-top: #ec7272 solid 3px;
	border-bottom: #72c259 solid 0px;
		

}

#menuadm a {
	display: block;
	width: 140px;
	height: 21px;
	padding-left:10px;
	padding-top:5px;
	margin-left:5px;
	margin-top:5px;
	
	font-weight:bold;
	
	
	
	background: url("/image/buttonadm.png")  0 0 no-repeat;
	margin: 0px 0;
	font:  12px/1 Arial;
	color:White;
	text-decoration: none;
	float:left;
	border:2px Green;
	
}

#menuadm a:hover {
	background-position: 0 -27px;
	font:  12px/1 Arial;
	font-weight:bold;

	
	
}
#reg a {
	display: block;
	width: 215px;
	height: 40px;
	background: url("reg.png") 0 0 no-repeat;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
#reg a:hover {
	background-position: 0 -40px;
}
#mmn {
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family:Calibri;
	font-weight:bold;
	color:Black;
	width: 100%;
	margin-top: 10px;
	border-bottom:2px;
	border-bottom-color:#72c259;
	outline-width:2px;
}
#txt 
{
width:95%;



	color: #333;
	padding-left: 20px;
	margin-right: 20px;
}
#text 
{
	display:block;
	width:95%;


	border-left: #48b479 dotted 1px;
	border-right: #48b479 dotted 1px;
	border-top: #a3a4a4 dotted 1px;
	border-bottom: #48b479 dotted 1px;
	background:   #e8e8e8;
margin-left: 20px;
margin-top:20px;




	

	
	


	font: .8em bold;
	color: #666666;
margin-right: 20px;
margin-bottom:20px;
padding-bottom:20px;
float:left;

}

#mainmenu
{
	width: 100%;
	margin-top: 10px;
	border:2px;
	border-bottom-width:2px;
	border-bottom-color:#72c259;
	
	
	
	}
#bottom {
	display: block;
	border-left: #48b479 dotted 1px;
	border-right: #48b479 dotted 1px;
	border-bottom: #48b479 dotted 1px;
	background: #cbebd0 url("kv.png");
	width: 679px;
	height: 55px;
	font: .8em bold;
	color: #666666;
	margin-left: 20px;
	padding-top: 10px;
	Float: left;
}
#copyr {
	display: block;
	background: url("kvb.png");
	width: 679px;
	height: 20px;
	font: .8em bold;
	color: rgb(255,255,204);
	margin-left: 20px;
	Float: left;
	text-align: left;
}
#lang {
	display: block;
	float: right;
	margin-right: 25px;
}
#psch 
{

	display: block;
	float: right;

	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
#psch  Input
{
	background-color:Green;
	color:White;
		border-style:solid;
		border-width:2px;
		border-color:Green;

	}

#psch  select
{
/*		border-style:solid;
	border-width:2px;
	border-color:#3b8ac2;
*/
	background-color:Green;
	color:White;
		border-style:solid;
		border-width:2px;
		border-color:Green;
}


p {
	font-size: 1.8em;
}
#adm {
	display: block;
	border: #006699 dotted 1px;
	background: #eeeeee;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 130px;
	height: 100px;
	font: x-small Verdana, Arial, serif;
	color: #333;
	margin-top: 10px;
	padding-top: 10px;
}
#mn {
	display: block;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family:Calibri;
	font-weight:bold;
	
	
	color:Black;
	width: 100%;
	margin-top: 10px;
	outline-style:solid;
	outline-color:#3b8ac2;
	outline-width:3px;
}
#name
{
	display: block;
	float: left;
	margin-top: 3px;
	margin-left: 20px;
	margin-right: 20px;
}


button
{
	background-color:Blue;
	
}

