<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLExpress; Integrated Security=True;User Instance=True; AttachDBFilename=|DataDirectory|webmarkkk.mdf" />
    <add name="TechDaysDb" connectionString="Data Source=WARH-PC\SQLEXPRESS;Initial Catalog=webmarkkk;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=WARH-PC\SQLEXPRESS;Initial Catalog=webmarkkk;Integrated Security=True" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="webmarkkkConnectionString" connectionString="Data Source=WARH-PC\SQLEXPRESS;Initial Catalog=webmarkkk;Integrated Security=True" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <membership userIsOnlineTimeWindow="180" defaultProvider="TechDaysMembershipProvider">
      <providers>
        <add applicationName="TechDays" name="TechDaysMembershipProvider" connectionStringName="TechDaysDb" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="TechDaysRolesProvider" cacheRolesInCookie="true" cookieName=".TechDaysRoles">
      <providers>
        <add connectionStringName="TechDaysDb" applicationName="TechDays" name="TechDaysRolesProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="TechDaysProfileProvider" automaticSaveEnabled="false">
      <providers>
        <add name="TechDaysProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="TechDaysDb" />
      </providers>
      <properties>
        <add name="LastName" type="string" defaultValue="" />
        <add name="FirstName" type="string" defaultValue="" />
        <add name="MidleName" type="string" defaultValue="" />
        <add name="Profession" type="string" defaultValue="" />
        <add name="Sex" type="string" defaultValue="" />
        <add name="Country" type="string" defaultValue="" />
        <add name="City" type="string" defaultValue="" />
        <add name="Obl" type="string" defaultValue="" />
        <add name="Rayon" type="string" defaultValue="" />
        <add name="Street" type="string" defaultValue="" />
        <add name="Dom" type="string" defaultValue="" />
        <add name="Room" type="string" defaultValue="" />
        <add name="Index" type="string" defaultValue="" />
        <add name="Age" type="int" defaultValue="0" />

      </properties>
    </profile>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms cookieless="UseCookies" protection="All" loginUrl="~/Login.aspx" name=".TechDaysAuthCookie" slidingExpiration="true" timeout="180" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>