




.item
{
	border-style:dotted;
	border-width:1px;
	margin: 5px;
	padding: 0;
	color:Black;
	font-size: 16px;
	
	}


#GroupBox
{
	border-style:dotted;
	border-width:thick;



	
	
	}
	* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	padding: 0 0 0;
	background:#7ab1d6  url("/image/bg.png") repeat-x;
}
#page {
	width: 100%;
	margin: 0 auto;
}
a {
	color: #00431e;
	text-decoration: none;
	font-size: 1em;
}
a:hover {
	text-decoration: underline;
	color: rgb(0,51,255);
}

.title {
	font: 17px Georgia, "Times New Roman", Times, serif;
	border-left: #48b479 dotted 1px;
	border-right: #48b479 dotted 1px;
	border-top: #48b479 dotted 1px;
	border-bottom: #48b479 dotted 1px;
	margin-top: 9px;
	margin-bottom: 9px;
	color: Black;
	background:url("/image/bgtext.png") repeat;
}

.titlemnu {
	font: 17px Georgia, "Times New Roman", Times, serif;
	border-left: #48b479 dotted 1px;
	border-right: #48b479 dotted 1px;
	border-top: #48b479 dotted 1px;
	border-bottom: #48b479 dotted 1px;
	margin-top: 9px;
	margin-bottom: 9px;
	color: Black;
	background-color:Fuchsia;
	background: transparent url('ul.png') no-repeat  left center;
}


#header {
	background: url("/image/head.png") no-repeat left;

	width: 95%;
	height: 80px;
	margin-left: 20px;
	margin-right: 20px;

}
#mnu {
	background: url("kv.png");
	border-top: #a3a4a4 solid 2px;
	border-right: #48b479 dotted 1px;
	border-bottom: #48b479 dotted 1px;
	width: 152px;
	height: 710px;
	font:  12px/1 Arial;
	color: #333;
	float: left;
}
#lm {
	background:#e8e8e8;
	border-top: #a3a4a4 solid 2px;
	border-left: #48b479 dotted 1px;
	border-bottom: #48b479 dotted 1px;
	width: 15%;
	font:  12px/1 Arial;
	font-weight:bold;

	
	
	color: Blue;
	float: left;
	margin-left: 20px;
}
#bs {
	background: #cbdceb;
	width: 124px;
	color: #333;
	padding-left: 28px;
}
#menu a {
	display: block;
	width: 180px;
	height: 19px;
	border-top: #cbdceb dotted 1px;
	padding-left: 15px;
	padding-top:5px;
	font-weight:bold;

	background: url("/image/button.png")  0 0 no-repeat;
	margin: 0px 0;
	font:  12px/1 Arial;
	color:White;
	text-decoration: none;
	
}
#menu a:hover {
	background-position: 0 -24px;
	font:  12px/1 Arial;
	font-weight:bold;

	
	
}
#reg a {
	display: block;
	width: 215px;
	height: 40px;
	background: url("reg.png") 0 0 no-repeat;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
#reg a:hover {
	background-position: 0 -40px;
}
#mmn {
	width: 180px;
	color: #333;
	padding-left: 10px;
	text-align: left;
}
#txt {
	width: 95%;
	color: #333;
	padding-left: 20px;
	margin-right: 20px;
}
#text {
	display: block;
	border-left: #48b479 dotted 1px;
	border-right: #48b479 dotted 1px;
	border-top: #a3a4a4 solid 2px;
	border-bottom: #48b479 dotted 1px;
	background:   #e8e8e8;
	width: 80%;

	font: .8em bold;
	color: #666666;
margin-right: 20px;
margin-bottom:20px;
padding-bottom:20px;
	float: left;
}
#bottom {
	display: block;
	border-left: #48b479 dotted 1px;
	border-right: #48b479 dotted 1px;
	border-bottom: #48b479 dotted 1px;
	background: #cbebd0 url("kv.png");
	width: 679px;
	height: 55px;
	font: .8em bold;
	color: #666666;
	margin-left: 20px;
	padding-top: 10px;
	Float: left;
}
#copyr {
	display: block;
	background: url("kvb.png");
	width: 679px;
	height: 20px;
	font: .8em bold;
	color: rgb(255,255,204);
	margin-left: 20px;
	Float: left;
	text-align: left;
}
#lang {
	display: block;
	float: right;
	margin-right: 25px;
}
#psch {
	display: block;
	float: right;
	margin-top: 3px;
	margin-left: 20px;
	margin-right: 20px;
}
p {
	font-size: 1.8em;
}
#adm {
	display: block;
	border: #006699 dotted 1px;
	background: #eeeeee;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 130px;
	height: 100px;
	font: x-small Verdana, Arial, serif;
	color: #333;
	margin-top: 10px;
	padding-top: 10px;
}
#mn {
	display: block;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family:Calibri;
	font-weight:bold;
	
	
	color:Black;
	width: 100%;
	margin-top: 10px;
	outline-style:solid;
	outline-color:#3b8ac2;
	outline-width:3px;
}
#name
{
	display: block;
	float: left;
	margin-top: 3px;
	margin-left: 20px;
	margin-right: 20px;
}
.Button
{
	color:Blue;
}
